.rotationalAnimation{
  overflow: hidden;
  position: relative;
  background: transparent;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: animate 10s linear infinite;
}

.positionContainer{
  position: absolute;
  right: -20px;
  bottom: -20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  background-image: url(./images/vue.png);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 60% 30%;
  border-radius: 50%;
}

@keyframes animate{
  0%{
      transform: rotate(0deg);
  }100%{
      transform: rotate(360deg);
  }
}

.rotationalAnimation span{
  color: black;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 55px;
  height: 100%;
  transform: rotate(calc( 15deg * var(--i)));
}

.workTable{
  background-image: url(./images/workTable.jpg);
}
.avatar{
  background-image: url(./images/myphoto.png);
  background-repeat: no-repeat;
  background-position: 110% 40%;
  background-size: 105%;
}
.header{
  background-color: rgba(255, 255, 255, .5);
}

.ball1{
  animation:hor 5.4s infinite linear alternate,
            ver 3.4s infinite linear alternate;
  position: absolute;
  left: 0;
  top: 0;
}
.ball2{
  animation:hor 5s infinite linear alternate,
            ver 2s infinite linear alternate;
  position: absolute;
  left: 0;
  top: 0;
}
.ball3{
  animation:hor 8s infinite linear alternate,
            ver 4s infinite linear alternate;
  position: absolute;
  left: 0;
  top: 0;
}


@keyframes hor{
  to{
    left: calc(100vw - 40px);
  }
}

@keyframes ver{
  to{
    top: calc(100vh - 30px);
  }
}